h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  margin-bottom: 10px;
}

/* General Section Titles */
.section-title {
  font-size: 1.2em;
  font-weight: bold;
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
}

/* Grid layout for column selection */
#col-sel-ctnr {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
  padding: 10px;
}

/* Toggle Button */
#select-all-toggle {
  display: block;
  margin-bottom: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* Checkbox Layout */
.checkbox-item {
  display: flex;
  align-items: center;
}

/* Filter Groups */
.filter-group,
.add-member-group {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

/* Collapsible Legend */
.filter-group legend,
.add-member-group legend {
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #345a82;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hide Fields Initially */
.filter-items,
.add-member-fields {
  display: none;
  padding-top: 10px;
}

/* Reset Filters Button */
#resetFilters {
  background-color: #dc3545;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Table Container */
.table-container {
  width: 100%;
  overflow-x: auto;
  max-width: 100%;
  border: 1px solid #ccc;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
}

th,
td {
  padding: 8px 12px;
  text-align: left;
  border: 1px solid #ddd;
  white-space: nowrap; /* Prevents wrapping */
}

/* Sticky Table Headers */
thead {
  background-color: #f4f4f4;
  position: sticky;
  top: 0;
}

/* Add Member Form */
#addMemberForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

/* Adjust to Single Column on Mobile */
@media (max-width: 600px) {
  #addMemberForm {
    grid-template-columns: 1fr;
  }
}

/* Form Labels */
#addMemberForm label {
  text-align: right;
  font-weight: bold;
}

/* Form Inputs */
#addMemberForm input,
#addMemberForm select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Submit Button */
#addMemberForm button {
  grid-column: span 2;
  padding: 10px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 10px;
  border-radius: 5px;
}

#addMemberForm button:hover {
  background-color: #218838;
}
